<div class="row">
    <div class="col-sm-4">
        <a href="/course/{{ doc.course_name }}">
            <img src="{{ doc.course_hero }}"
                class="img-responsive" style="">
        </a>
    </div>
    <div class="col-sm-8">
        <a href="/course/{{ doc.course_name }}"><h2>{{ doc.course_name }}</h2></a>
        <p class="text-muted">Course Fee: {{ doc.course_fee }}</p>
        <p class="text-muted">Course Intro: <a href="{{ doc.course_intro_url }}">YouTube</a></p>
        <p class="text-muted">Course Master: {{ doc.course_master }}</p>
    </div>
</div>