{% extends "frappe_theme/templates/base.html" %}
{% block title %}ERPNext Academy{% endblock %}

{% from "templates/includes/media.html" import media %}

{% block head_include %}
<meta name="description" content="ERPNext Academy is a learnig platform to gain expertise in the world's top 100% open source ERP software." />
<meta name="keywords" content="ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business, Learn ERP, ERPNext Academy, Learn ERPNext, Learn Accounting" />
{% endblock %}

{% block content %}
<section class='top-section'>
        <div class='container'>
            <div class='text-center'>
                <!-- <img class="main-illustration" src='/assets/academy/img/expert.png' style='width: 700px;'> -->
            </div>
            <h1>ERPNext Expert User</h1>
            <p class='lead'>In this program you will master every module of ERPNext. You will also learn about various business workflows and execute them with ERPNext.</p>
            <p class="mt-4">
                <a class="btn btn-primary btn-lg" href="/classrooms/module">
                    Continue with Module 2</a>
            </p>
    </section>

<section class='section-padding section-bg'>
    <div class='container'>
        <h3 class='text-center'>Modules</h3>
        <p class='lead text-center'>Master ERPNext with our Expert Learning Paths</p>
        <div class="card mt-3 card-clickable" data-list="getting-started">
            <!-- <img class='' src="/assets/academy/img/expert.png" style='height: 150px'> -->
            <div class='card-body'>
                <div class="row">
                    <div class="module-details col-xs-8 col-sm-9 col-md-10">
                        <h5>Getting Started with ERPNext</h5>
                        <span class="module-list text-muted" id="getting-started">
                            Course Content
                            <ul class="mb-0 mt-1">
                                <li>Introduction to ERPNext</li>
                                <li>Setting up your company</li>
                            </ul>
                        </span>
                    </div>
                    <div class='text-center col-xs-4 col-sm-3 col-md-2'>
                        <a class='btn btn-success btn-sm btn-block' href="/classrooms/module">Completed</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 card-clickable" data-list="accounting">
            <!-- <img class='' src="/assets/academy/img/expert.png" style='height: 150px'> -->
            <div class='card-body'>
                <div class="row">
                    <div class="module-details col-xs-8 col-sm-9 col-md-10">
                        <h5>Accounting in ERPNext</h5>
                        <span class="module-list text-muted" id="accounting">
                            Course Content
                            <ul class="mb-0 mt-1">
                                <li>Setting up your accounts</li>
                                <li>Assets and Stocks</li>
                                <li>Buying and Selling Workflow</li>
                                <li>Taxation</li>
                                <li>Reporting</li>
                            </ul>
                        </span>
                    </div>
                    <div class='text-center col-xs-4 col-sm-3 col-md-2'>
                        <a class='btn btn-primary btn-sm btn-block' href="/classrooms/module">Start Module</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 card-clickable" data-list="human-resources">
            <!-- <img class='' src="/assets/academy/img/expert.png" style='height: 150px'> -->
            <div class='card-body'>
                <div class="row">
                    <div class="module-details col-xs-8 col-sm-9 col-md-10">
                        <h5>Managing Human Resources</h5>
                        <span class="module-list text-muted" id="human-resources">
                            Course Content
                            <ul class="mb-0 mt-1">
                                <li>Recruitment & Training</li>
                                <li>Payroll Management</li>
                                <li>Shift and Leave Management</li>
                                <li>Travel and Expense Management</li>
                            </ul>
                        </span>
                    </div>
                    <div class='text-center col-xs-4 col-sm-3 col-md-2'>
                        <a class='btn btn-primary btn-sm btn-block' href="/classrooms/module">Start Module</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class='container'>
        <h3 class='text-center'>Highlights</h3>
        <div class='card-deck mt-5'>
            <div class="card">
                <!-- <img class='mt-3' src="/assets/erpnext_com/img/balloon.svg" style='height: 150px'> -->
                <div class='card-body'>
                    <h5 class='card-title'>Curated Courses</h5>
                    <div>Learning paths specifically designed for the your use cases, whether you are a user, developer
                        or an
                        implementer</div>
                </div>
                <div class='card-footer'>
                    <a href="#" class='text-muted small'>Explore Learning Paths</a>
                </div>
            </div>

            <div class="card">
                <!-- <img class='mt-3' src="/assets/erpnext_com/img/umbrella.svg" style='height: 150px'> -->
                <div class='card-body'>
                    <h5 class='card-title'>Comprehensive Content</h5>
                    <div>Content designed to cover all the fundamentals as well as expert tips and techniques to make
                        the most out of ERPNext.</div>
                </div>
                <div class='card-footer'>
                    <a href="#" class='text-muted small'>View Course List</a>
                </div>
            </div>

            <div class="card">
                <!-- <img class='mt-3' src="/assets/erpnext_com/img/sun.svg" style='height: 150px'> -->
                <div class='card-body'>
                    <h5 class='card-title'>Certification</h5>
                    <div>ERPNext is open source and infinitely extensible. Customize it, build upon it, add your own
                        apps built with
                        <a href="https://frappe.io" class="underline">Frappe Framework</a>.</div>
                </div>
                <div class='card-footer'>
                    <a href="#" class='text-muted small'>Certification Benefits</a>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .footer-message {
        display: none;
    }
</style>

{% endblock %}