include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include academy *.css
recursive-include academy *.csv
recursive-include academy *.html
recursive-include academy *.ico
recursive-include academy *.js
recursive-include academy *.json
recursive-include academy *.md
recursive-include academy *.png
recursive-include academy *.py
recursive-include academy *.svg
recursive-include academy *.txt
recursive-exclude academy *.pyc