{% extends "frappe_theme/templates/base.html" %}
{% block title %}ERPNext Academy{% endblock %}

{% block head_include %}
	<meta name="description" content="ERPNext Academy is a training platform to learn the world's top 100% open source ERP software." />
	<meta name="keywords" content="ERP Software, Cloud ERP, Open Source ERP, Learn Accounting, Learn ERP, Online Accounting, ERPNext Academy" />
{% endblock %}

{% block content %}
<section class='top-section'>
	<div class='container' style='padding-top: 3em; padding-bottom: 3em;'>
	<h1>{{ academy.heading or 'ERPNext Academy'}}</h1>
	<p class='lead'>{{ academy.subtitle or ''}}</p>
	<p class="mt-4">
		<a class="btn btn-primary btn-lg" style="width: 170px;" href="/lms/program?program={{ academy.featured_program }}">Start Learning</a>
	</p>
	<a href="https://erpnext.com" class="mt-0 small text-muted">Go to erpnext.com</p>
	</a>
</section>

<section class="section-padding section-bg">
	<div class='container'>
	<div class='card-deck'>
		<div class="card">
			<div class='card-body'>
				<h5 class='card-title'>Master ERPNext</h5>
				<div>Learn the fundamentals of Accounting, Manufacturing, HR, and other core modules of ERPNext.</div>
			</div>
		</div>

		<div class="card">
			<div class='card-body'>
				<h5 class='card-title'>Curated Content</h5>
				<div>Learn with a collection of carefully curated high quality videos and learning material.</div>
			</div>
		</div>

		<div class="card">
			<div class='card-body'>
				<h5 class='card-title'>Built by OEMs</h5>
				<div>ERPNext Academy is a comprehensive training platform from the team behind ERPNext and the Frappe Framework.</div>
			</div>
		</div>
	</div>
	</div>
</section>
<section class='section-padding'>
	<div class='container text-center'>
		<h3 class='text-center'>About ERPNext</h3>
		<p class='lead'>ERPNext is the world's best 100% open source ERP</p>
		<div class='mt-4 '>
			<a class="btn btn-primary btn-lg" href="https://erpnext.com/pricing">Get ERPNext</a>
		</div>
	</div>
</section>

{% endblock %}

